---
layout: default
permalink: /categories/
title: Categories
---
<!-- changing layour from page to default -->

<h1> layouts/category.html</h1>
<div id="archives">
{% for category in site.categories %}
  <div class="archive-group">
    {% capture category_name %}{{ category | first }}{% endcapture %}
    <div id="#{{ category_name | slugize }}"></div>
    <p></p>
    
    <h3 class="category-head">{{ category_name }}</h3>
    <a name="{{ category_name | slugize }}"></a>
    {% for post in site.categories[category_name] %}
    <article class="archive-item">
      <h4><a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a> -- {{ post.categories }}</h4>
      <p>1 {{category}}</p>
      <p>2 {{category_name}}</p>
      <p>3 {{ site.categories}}</p>
      <p>4 {{ site.caetgories[categoy_name]</p>
        <p>5 {{ post.categories}}</p>
          <p>6 {{ post[category_name]}}</p>
    </article>
    {% endfor %}
  </div>
{% endfor %}
</div>